html,
body {
    margin: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}
body {
    font-family: "VT323";
    font-size: 30px;
    color: #c5c8c6;
    background-color: #1d1f21;
}

.font {
    font-family: "VT323";
    color: #c5c8c6;
}

pre {
    background-color: #1d1f21;
    font: inherit;
}

/* menu icon css */

.menu-icon-wrapper {
    position: absolute;
    margin: 5px;
    right: 15px;
    top: 15px;
    height: 50px;
    width: 50px;
    transition: all 0.2s ease-in-out;
}

.menu-icon-checkbox {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    position: absolute;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.menu-icon {
    height: 100%;
}

.menu-icon-middle {
    position: absolute;
    height: 16.66%;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #c5c8c6;
    transition: all 0.2s ease-in-out;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    height: 16.66%;
    background-color: #c5c8c6;
}

.menu-icon::before {
    top: 8.33%;
}

.menu-icon::after {
    bottom: 8.33%;
}

/* hover animations */
.menu-icon-wrapper:hover {
    transform: translate(-3px, 0);
}

.menu-icon-wrapper:hover .menu-icon::before,
.menu-icon-wrapper:hover .menu-icon::after,
.menu-icon-wrapper:hover .menu-icon-middle {
    background-color: #888;
}

/* click animations */
.menu-icon-middle:has(~ .menu-icon-checkbox:checked) {
    background-color: transparent;
}

.menu-icon:has(~ .menu-icon-checkbox:checked)::before {
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg) scale(110%);
    background-color: #a54242;
}

.menu-icon:has(~ .menu-icon-checkbox:checked)::after {
    left: 0;
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg) scale(110%);
    background-color: #a54242;
}

/* menu css*/

.menu {
    position: absolute;
    width: 150px;
    top: 10px;
    left: 100%;
    height: auto;
    background-color: #555;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s ease-in;
    padding-right: 70px;
}

/* menu show on menu-icon checked */
.menu:has(~ .menu-icon-wrapper .menu-icon-checkbox:checked) {
    transform: translate(calc(-100% - 10px), 0);
    opacity: 1;
}

/* other stuff */

.font-options {
    width: auto;
}

#snumber {
    color: #f1f1f1;
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
}

#fontSize {
    appearance: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    height: 10px;
    left: 0;
    background-color: #f1f1f1;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#fontSize:hover {
    opacity: 1;
}

#fontSize::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #82b1d7;
}

#fontSize::-webkit-slider-thumb:hover {
    background: #aad4f9;
}

.ts-options {
    width: 100%;
}

.radio-option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#output {
    box-sizing: border-box;
    width: 100%;
    border: 10px inset;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    padding: 2vw;
    font-size: inherit;
    padding-bottom: 3em;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#input {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    border: 3px solid black;
}

#text-input {
    box-sizing: border-box;
    border: none;
    user-select: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: none;
    resize: none;
    color: #c5c8c6;
    height: 100%;
    width: 90%;
    display: block;
    overflow: hidden;
    caret-shape: underscore;
}

.input-start {
    color: #f0c674;
}

.output-start {
    color: #a54242;
}

.idling {
    animation: idle 1s steps(1, end) infinite;
}

.ibar {
    position: absolute;
}

@keyframes idle {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* game colors */

.water {
    color: #82b1d7;
}

.bad {
    color: #a54242;
}

.snake {
    color: #8c9440;
}

.barrier {
    color: #de935f;
}
