html,
body {
    margin: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}
body {
    background-color: antiquewhite;
    font-family: "VT323";
    font-size: 2em;
    color: #c5c8c6;
    background-color: #1d1f21;
}

#game-window {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

#output {
    box-sizing: border-box;
    width: 100%;
    border: 10px inset;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    padding: 2vw;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#input {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    border: 3px solid black;
}

#text-input {
    position: absolute;
    box-sizing: border-box;
    width: 0;
    height: 0;
    transform: translate(-10px, -10px);
    background-color: transparent;
    border: none;
    user-select: none;
}

.input-start {
    color: #f0c674;
}

.output-start {
    color: #a54242;
}

.idling {
    animation: idle 1s steps(1, end) infinite;
}

@keyframes idle {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
