/* colours
    background: #5D675B
    border: #F78E69, #ABE188
    headings: #F1BB87
    text: #F7EF99

*/

:root {
    --background: #5d675b;
    --background-dark: #454d44;
    --text: #f7ef99;
    --border1: #f78e69;
    --border2: #abe188;
}

html,
body {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    color: var(--text);
    background-color: var(--background);
    font-size: 16px;
    overflow-x: clip;
}

h1 {
    font-size: 42px;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}

.header {
    width: 100%;
    height: 120px;
    background-color: var(--background-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-bottom: solid 3px var(--border2);
}

a:hover,
a:visited,
a:link,
a:active {
    color: inherit;
    text-decoration: none;
}

.left-head {
    height: 100%;
    display: flex;
    gap: 10px;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.img-wrapper {
    height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 2%;
    background: conic-gradient(
        from var(--a),
        var(--text) 60deg,
        var(--border1) 90deg 150deg,
        var(--border2) 210deg 270deg,
        var(--text) 330deg
    );
    animation: a 10s linear infinite;
}

@keyframes a {
    from {
        --a: 0deg;
    }

    50% {
        --a: 180deg;
    }

    to {
        --a: 360deg;
    }
}

.self-img {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 10px);
    border-radius: 50%;
    border: solid transparent;
}

.menu-items {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    text-align: center;
    border: solid var(--border1);
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-item:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    grid-area: title;
    border-bottom: solid var(--border1);
    padding-bottom: 15px;
    width: 80%;
}

.main {
    grid-area: main;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgba(255, 255, 255, 0.062);
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.animation {
    height: 100%;
    width: 100%;
}

.main-content {
    display: grid;
    grid-template-columns: 3.9% 6.6% 17.1% 44.8% 17.1% 6.6% 3.9%;
    grid-template-rows: auto;
    grid-template-areas:
        ". title title title . sidebar ."
        ". main main main . sidebar .";
    z-index: 1;
}

.background {
    position: absolute;
    width: calc(100% + 200px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.05;
    z-index: 0;
}

.triangle {
    width: 200px;
    height: 173.2px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin: 0 -50px;
    animation: t 20s infinite;
    background: conic-gradient(
        from 0deg at 50% 66.6%,
        rgba(247, 239, 153, var(--t)) 60deg,
        rgba(247, 142, 105, var(--r)) 60deg 180deg,
        rgba(171, 225, 136, var(--l)) 180deg 300deg,
        rgba(247, 239, 153, var(--t)) 300deg
    );
}

.flipped {
    transform: rotate(180deg);
}

@property --t {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --l {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --r {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@keyframes t {
    16.6% {
        --t: 1;
        --r: 0;
        --l: 0;
    }

    49.9% {
        --t: 0;
        --r: 1;
        --l: 0;
    }

    83.3% {
        --t: 0;
        --r: 0;
        --l: 1;
    }
}
